*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: Arial;
}

/*#resultstable
{
	border-collapse: collapse;
	margin-left: 15px;
	margin-top: 15px;
}

#resultstable tr:first-child th
{
	border-bottom: 1px solid black;
	font-weight: bold;
	text-align: left;
}

#resultstable tr:not(:nth-child(1)) td:nth-child(5)
{
	color: #2980b9;
}

#resultstable tr:not(:nth-child(1)) td:nth-child(6)
{
	color: #27ae60;
}

#resultstable tr:not(:nth-child(1)) td:nth-child(7)
{
	color: #f39c12;
}

#resultstable td:first-child
{
	width: 150px;
}

#resultstable td:nth-child(9)
{
	width: 150px;
}

#resultstable td:nth-child(10)
{
	width: 150px;
}

#resultstable td
{
	width: 100px;
}*/

a:link
{
	color: #1abc9c;
}

a:hover
{
	color: #16a085;
}

/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
